{{ 'component-promotion.css' | asset_url | stylesheet_tag }}

<div class="component page-width-desktop shopify-section section isolate promotion-section style="color: {{ section.settings.background_color }}">
  <h2 class="h1" style="color: {{ section.settings.text_color }}">{{ section.settings.header }}</h2>
  <h5 style="color: {{ section.settings.text_color }}">{{ section.settings.promo }}</h5>
  <a href="{{ section.settings.product_list }}" class="button button--primary" style="background-color: {{ section.settings.button_color }}; color: {{ section.settings.button_text_color }};">
    {{ section.settings.button_text }}
  </a>
</div>

{% schema %}
{
  "name": "Promotion Section",
  "tag": "section",
  "class": "promotion-section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Get 20% off all sale items"
    },
    {
      "type": "text",
      "id": "promo",
      "label": "Promo Text",
      "default": "Use code EXTRA at checkout"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "collection",
      "id": "product_list",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#0B5B4B"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#0B5B4B"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Promotion Section"
    }
  ]
}
{% endschema %}
